@model GamingStore_Projectoti2.Models.Jogos
@{
    ViewBag.Title = "Buy";
}

<h2>Deseja Comprar este jogo?</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Fotografia)
        </dt>
        <dd>
            <img src="~/fotografias/@Html.DisplayFor(model => model.Fotografia)"
                 alt="imagem do jogo @Html.DisplayFor(model => model.Nome)"
                 title="@Html.DisplayFor(model => model.Nome)"
                 width="150" />
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Preco)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Preco)€
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Plataforma)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Plataforma)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Regressar ao Início", "Index", null, new { @class = "btn btn-primary" })
    @using (Html.BeginForm("Create", "Detalhes_Compra", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-inline", role = "form" }))
    {
        @Html.AntiForgeryToken()




        <input align="left" type="submit" class="btn btn-primary" value="Comprar Jogo">

        @Html.ValidationSummary(true, "", new { @class = "text-primary" })

    }

    @Html.ActionLink("Comprar Jogo", "Create", "Detalhes_Compra", new { @class = "btn btn-success" })
</p>